body {
  font-family: "sans-serif";
  padding: 9em;
}

h1 {
  font-size: 5em;
  width: 25%;
  color: purple;
  line-height: 1em;
}

button {
  background: none;
  border: 1px solid black;
  font-family: "sans-serif";
  font-weight: bold;
  font-size: 1.7em;
  padding: 0.5em 1em;
  cursor: pointer;
}

.panel {
  position: absolute;
  width: 55%;
  bottom: 0;
  right: 0;
  background: #eaeaea;
  padding: 15% 7%;
  transform: scaleY(0);
  box-sizing: border-box;
  transform-origin: bottom;
  height: 100vh;

  img {
    width: 120px;
    float: left;
    margin-right: 50px;
    opacity: 0;
  }

  p {
    font-size: 1.9em;
    width: 80%;
  }

  .box {
    border: 5px solid lightgray;
    width: 65%;
    height: 40%;
    position: absolute;
    left: -7%;
    top: 15%;
    z-index: -1;
  }
}
